---
layout: default
---

  <div class="code-samples-container">
    <h2>Code Samples</h2>
    <div class="code-samples">
    {% for post in site.posts %}
      <div class="code-sample">
        <span><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
      </div>
    <!--   <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li> -->
    {% endfor %}
    </div>
  </div>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->



<!--   <div class="code-samples-container">
    <h2>Code Samples</h2>
    <div class="code-samples">
      <div class="code-sample">
        <span>Spotify API and Marionette</span>
      </div>
      <div class="code-sample">
        <span>Backing Up Minecraft Servers</span>

      </div>
      <div class="code-sample">
        <span>Playing with React</span>

      </div>
    </div>
  </div> -->